# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
*.sw?
.#*
*#
*~
.classpath
.project
.settings
bin/
.gradletasknamecache

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/

# OS
.DS_Store
Thumbs.db

# Newrelic
newrelic/

# Compiled class files
*.class

# Log files
*.log

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
